{% extends 'layout.html.twig' %}

{% block title %}
Ajouter un emplacement
{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/style_addbook.css">
{% endblock %}


{% block content %}
<nav>
    <div class="logoAndName">
        <a href="/"><img src="/assets/images/logobook.png" alt="My Books Logo"></a>
        <p>MY BOOKS</p>
    </div>
    <h1>Ajouter un emplacement</h1>
    <div class="backHome">
        <a href=""><img src="/assets/images/home.png" alt="Home Logo"><span>Retour à l'accueil</span></a>
    </div>
</nav>

<form class="addInformation" action="/location/add" method="post" enctype="multipart/form-data">
    <div class="location">
        <label for="location_name">Emplacement :</label>
        <div class="addLocation">
            <input type="text" id="location_name" name="location_name" placeholder="Saissisez un emplacement" required>
            <input class="addElement" type="submit" value="">
        </div>
        <p class="errors">{{ errors[0] }}</p>
    </div>
</form>
{% endblock %}
