{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Delete an item</h1>
    <form method="post">
        <input type="hidden" value="" name="id">
        <input type="submit" value="Supprimer" onclick="confirm('Are you sure !')">
    </form>
{% endblock %}
