/* NAVBAR */

* {
    margin: 0 0;
    box-sizing: border-box;
}

nav {
    margin-top: 1rem;
}

nav h1 {
    font-size: 1.5rem;
}

.icon-nav {
    height: 2.5rem;
}

.icon a img {
    height: 2.5rem;
    margin-left: 1rem;
}

.logoAndName h3 {
    margin: auto auto auto 1.5rem;
}

/* FILTER BAR */
.select {
    width: 14rem;
    height: 2rem;
    border-radius: 0.25rem;
    margin-right: 1rem;
    background-color: #ffffff;
    color: #636262;
}

.filter {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.9rem;
    color: white;
}

#filter {
    display: none;
}

.container-filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1rem;
    margin-bottom: 2rem;
}


.filter-espace {
    margin-bottom: 0.2rem;
}

.title-filter {
    color: white;
    border-bottom: 2px solid white;
    padding-bottom: 0.3rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    width: 13rem;
}

.search-bar {
    width: 14rem;
    height: 2rem;
    border-radius: 0.25rem;
    border: none;
    margin-right: 1em;
    margin-bottom: 1rem;
}

.book-card {
    background-color: var(--third_color);
    display: flex;
    height: 12rem;
    align-items: center;
    margin: 1rem 1rem 4.5rem 1.7rem;
    border-radius: 1rem;
}

.container-book {
    display: flex;
    flex-direction: column;
}

.book-cover {
    height: 15rem;
    display: flex;
    transform: rotate(-6deg);
    margin-left: -0.7rem;
    width: 10rem;

}

.icon-del-edit {
    display: flex;
    height: 100%;
    align-items: flex-end;
}

.icon-del-edit a img {
    height: 2rem;
}

/* BookTEXT */
.book-text {
    height: 100%;
    width: 100%;
    margin-top: 1rem;
}

.sub-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 120px;
    max-height: 100px;
}

.sub-text.m-1 {
    margin-left: 0.3rem;
}

.sub-text.m-2 {
    margin-left: 0.6rem;
}

.sub-text.m-3 {
    margin-left: 0.9rem;
}

.sub-text.m-4 {
    margin-left: 1.2rem;
}

.text-title.m-2 {
    margin-left: 0.3rem;
}

.text-title.m-3 {
    margin-left: 0.6rem;
}

.text-title.m-4 {
    margin-left: 0.9rem;
}


@media only screen and (min-width: 425px) {
    .sub-text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 170px;
        max-height: 90px;
    }

    .container-book {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

    .book-card {
        background-color: var(--third_color);
        display: flex;
        height: 12rem;
        align-items: center;
        margin: 1rem 1rem 4.5rem 1.7rem;
        border-radius: 1rem;
        width: 26rem;
    }

    .book-text {
        margin-left: 0.5rem;
    }
}

@media only screen and (min-width: 768px) {
    .sub-text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 10rem;
        max-height: 70px;
    }

    .book-card {
        width: 26rem;
    }

    .container-book {
        justify-content: space-evenly;
    }
}

@media only screen and (min-width: 1024px) {

    .sub-text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 10rem;
        max-height: 100px;
    }

    #filter {
        display: block;
    }

    .icon {
        display: none;
    }

    .container {
        width: 100%;
        display: flex;
        align-items: flex-start;
    }

    .container-filter-desktop {
        height: 100vh;
    }

    .form-filter {
        width: 100%;
        border-right: 1px solid white;
    }

    .book-card {
        width: 26rem;
    }
}


@media screen and (min-width: 1440px) {

    .logoAndName {
        display: flex;
        width: 24%;
        justify-content: center;
    }

    .logoAndName img {
        height: 7rem;
        width: 9rem;
    }

    .sub-text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 11rem;
        max-height: 70px;
    }

    #filter {
        display: block;
    }

    .icon {
        display: none;
    }

    .container {
        width: 100%;
        display: flex;
    }

    .form-filter {
        width: 100%;
        border-right: 1px solid white;
        height: 100vh;
    }

    .container-book {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin-left: 1.5rem;
        margin-top: 2rem;
        align-content: flex-start;
        justify-content: space-evenly;
    }

    .book-card {
        width: 26rem;
    }

    .book-text h3 {
        margin-top: 0.20rem;
    }
}