/* NAVBAR */

*{
    margin: 0 0;
    box-sizing: border-box;
}
nav{
    margin-top: 1rem;
}

nav h1{
    font-size: 1.5rem;
}

.icon-nav{
    height: 2.5rem;
}
.icon a img{
    height: 2.5rem;
    margin-left: 1rem;
}

/* FILTER BAR */
.select {
    width: 17rem;
    height: 2rem;
    border-radius: 0.625rem;
    margin-right: 1rem;
}

.filter{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.9rem;
    color: white;
}

#filter{
    display: none;    
}

.container-filter{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1rem;
}


.filter-espace{
    margin-bottom: 0.2;
}

.title-filter{
    color: white;
    border-bottom: 2px solid white;
    padding-bottom: 0.3rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    width: 13rem;
}

.book-card{
    background-color: var(--third_color);
    display: flex;
    height: 12rem;
    align-items: center;
    margin: 1rem 1rem 3rem 1.7rem;
    border-radius: 1rem;
}

.container-book{
    display: flex;
    flex-direction: column;
}

.book-cover{
    height: 13rem;
    display: flex;
    transform: rotate(-6deg);
    margin-left: -0.7rem;

}

.icon-del-edit{
    display: flex;
    height: 100%;
    align-items: flex-end;
}

.icon-del-edit a img{
    height: 2rem;
}

/* BookTEXT */
.book-text{
    height: 100%;
    width: 100%;
    margin-top: 1rem;
}
.sub-text{
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    max-width: 120px;
    max-height: 100px;
}
.sub-text.m-1{
    margin-left: 0.3rem;
}
.sub-text.m-2{
    margin-left: 0.6rem;
}
.sub-text.m-3{
    margin-left: 0.9rem;
}
.sub-text.m-4{
    margin-left: 1.2rem;
}
.text-title.m-2{
    margin-left: 0.3rem;
}
.text-title.m-3{
    margin-left: 0.6rem;
}
.text-title.m-4{
    margin-left: 0.9rem;
}

@media only screen and (min-width: 425px) {
    .sub-text{
        overflow: hidden; 
        white-space: nowrap; 
        text-overflow: ellipsis; 
        max-width: 170px;
        max-height: 100px;
    }
}

@media only screen and (min-width: 500px) {
    .sub-text{
        overflow: hidden; 
        white-space: nowrap; 
        text-overflow: ellipsis; 
        max-width: 245px;
        max-height: 100px;
    }

    .container-book{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

    .book-card{
        background-color: var(--third_color);
        display: flex;
        height: 12rem;
        align-items: center;
        margin: 1rem 1rem 3rem 1.7rem;
        border-radius: 1rem;
        width: 30rem;
    }
}


@media only screen and (min-width: 900px) {
    .sub-text{
        overflow: hidden; 
        white-space: nowrap; 
        text-overflow: ellipsis; 
        max-width: 28rem;
        max-height: 100px;
    }

    .book-card{
        width: 40rem;
    }
}


@media only screen and (min-width: 1024px) {

    .sub-text{
        overflow: hidden; 
        white-space: nowrap; 
        text-overflow: ellipsis; 
        max-width: 20rem;
        max-height: 100px;
    }

    #filter{
        display: block;    
    }

    .icon{
        display: none;
    }

    .container{
        width: 100%;
        display: flex;
        align-items: center;
    }

    .container-filter-desktop{
        height: 100vh;
    }

    .container-book{
        height: 100vh;
    }

    .form-filter{
        width: 100%;
        border-right: 1px solid white;
    }
    .book-card{
        width: 35rem;
    }
}

@media only screen and (min-width: 1440px) {
    .logoAndName{
        display: flex;
        width: 24%;
        justify-content: center;
    }

    .logoAndName img{
        height: 5rem;
        width: 6rem;
    }

}

@media screen and (min-width: 1440px) and (max-width: 1675px) {
    .logoAndName{
        display: flex;
        width: 24%;
        justify-content: center;
    }

    .logoAndName img{
        height: 7rem;
        width: 9rem;
    }

    .sub-text{
        overflow: hidden; 
        white-space: nowrap; 
        text-overflow: ellipsis; 
        max-width: 10rem;
        max-height: 100px;
    }

    #filter{
        display: block;    
    }

    .icon{
        display: none;
    }

    .container{
        width: 100%;
        display: flex;
        align-items: center;
    }

    .container-book{
        width: 100%;
    }

    .form-filter{
        width: 100%;
        border-right: 1px solid white;
        height: 100vh;
    }

    .container-book{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;

    }

    .book-card{
        width: 28rem;
    }
}

@media only screen and (min-width: 1675px) {

    .logoAndName{
        display: flex;
        width: 24%;
        justify-content: center;
    }

    .logoAndName img{
        height: 7rem;
        width: 9rem;
    }

    .sub-text{
        overflow: hidden; 
        white-space: nowrap; 
        text-overflow: ellipsis; 
        max-width: 25rem;
        max-height: 100px;
    }

    #filter{
        display: block;    
    }

    .icon{
        display: none;
    }

    .container{
        width: 100%;
        display: flex;
        align-items: center;
    }

    .container-book{
        width: 100%;
    }

    .form-filter{
        width: 100%;
        border-right: 1px solid white;
        height: 100vh;
    }

    .container-book{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        align-content: flex-start;
        justify-content: flex-start;

    }

    .book-card{
        width: 40rem;
    }
}
